* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1440px;
}

section {
  background-color: rgb(29, 88, 29);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(56, 59, 56);
  height: 20vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.854);
  font-family: fantasy;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 3rem;
  padding: 5rem 0 3rem;
}

#main {
  display: flex;
  justify-content: space-between;

  div {
    h1 {
      font-size: 40px;
      color:rgba(255, 255, 255, 0.854);
      margin-bottom: 2rem;
    }
  }
}

.number {
  color: red;
  background-color: black;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin: 0 auto 1rem;
}

.button-div{
  display: flex;
  justify-content: space-evenly;

  button {
    width: 30px;
    background-color: transparent;
    border: 1px solid rgb(155, 241, 155);
    color: rgb(155, 241, 155);
    padding: 5px;
    border-radius: 3px;
  }
}

#new-game {
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(106, 229, 106, 0.854);
  text-transform: uppercase;
  border: none;
}
